<template>
  <!-- Template kiriman-kiriman -->
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/kiriman-kiriman" class="my-1 primer--text">
        Semua Kiriman-Kiriman
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <kartu-kiriman-component
        v-for="kiriman in kirimanKiriman"
        :key="'kiriman-' + kiriman.id"
        :kiriman="kiriman"
      ></kartu-kiriman-component>
    </v-layout>

    <!-- <button @click="kenaikan(10)">Tambah</button> -->
    <!-- {{count}} -->
    <!-- {{hitungan}} -->
  </v-container>
</template>

<script>
  import {mapGetters, mapMutations} from 'vuex'
  import KartuKirimanComponent from '../components/ButirKirimanComponent.vue'

  export default {
    components: {
      KartuKirimanComponent,
    },
    data: () => ({
      urlDasar: 'https://demo-api-vue.sanbercloud.com',
      kirimanKiriman: [],
    }),
    computed: {
      // count() {
      //   return this.$store.getters.count
      // }

      ...mapGetters({
        hitungan: 'counter/hitungan'
      }),
    },
    methods: {
      lepasLandas() {
        const config = {
          method: 'get',
          url: this.urlDasar + '/api/v2/blog/random/4',
        }

        this.axios(config)
            .then(respons => {
              const {blogs} = respons.data
              this.kirimanKiriman = blogs
            })
            .catch(eror => console.log(eror))
      },
      // increment (payload) {
      //   this.$store.commit('increment', payload)
      // },
      ...mapMutations({
        kenaikan: 'counter/kenaikan',
      }),
    },
    created() {
      this.lepasLandas()
    },
  }
</script>
