<template>
  <!-- Template kiriman-kiriman -->
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader>
      Semua Kiriman-Kiriman
    </v-subheader>
    <v-layout wrap>
      <kartu-kiriman-component
        v-for="kiriman in kirimanKiriman"
        :key="'kiriman-' + kiriman.id"
        :kiriman="kiriman"
      ></kartu-kiriman-component>
    </v-layout>

    <v-pagination
      v-model="halaman"
      @input="lepasLandas"
      :length="totalHalaman"
      :total-visible="9"
      color="primer"
    ></v-pagination>
  </v-container>
</template>

<script>
  import KartuKirimanComponent from '../components/ButirKirimanComponent.vue'

  export default {
    components: {
      KartuKirimanComponent,
    },
    data: () => ({
      urlDasar: 'https://demo-api-vue.sanbercloud.com',
      kirimanKiriman: [],
      kirimanPerHalaman: 0,
      halaman: 0,
      totalHalaman: 0,
    }),
    methods: {
      lepasLandas() {
        const konfigurasi = {
          method: 'get',
          url: `${this.urlDasar}/api/v2/blog?page=${this.halaman}`,
          // params: { 'page': this.halaman }
        }

        this.axios(konfigurasi)
            .then(respons => {
              const {blogs} = respons.data

              this.kirimanKiriman = blogs.data
              this.kirimanPerHalaman = blogs.per_page
              this.halaman = blogs.current_page
              this.totalHalaman = blogs.last_page
            })
            .catch(eror => console.log(eror))
      },
    },
    created() {
      this.lepasLandas()
    },
  }
</script>
