<template>
  <div>
    <v-card v-if="kiriman.id">
      <v-img :src="kiriman.photo ? urlDasar + kiriman.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
        <v-card-title class="fill-height align-end" v-text="kiriman.title"></v-card-title>
      </v-img>
      <v-card-text>
        <v-simple-table dense>
          <tbody>
            <tr>
              <td>
                <!-- <v-icon>mdi-format-title</v-icon> Titel -->
                <v-icon>mdi-format-title</v-icon>
              </td>
              <!-- <td class="primer--text"> -->
              <td>
                {{kiriman.title}}
              </td>
            </tr>
            <tr>
              <td>
                <!-- <v-icon>mdi-text</v-icon> Deskripsi -->
                <v-icon>mdi-text-short</v-icon>
              </td>
              <td>
                {{kiriman.description}}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  export default {
    data: () => ({
      kiriman: {},
      urlDasar: 'https://demo-api-vue.sanbercloud.com',
    }),
    methods: {
      lepasLandas() {
        const {id} = this.$route.params

        const konfigurasi = {
          method: 'get',
          url: `${this.urlDasar}/api/v2/blog/${id}`,
        }

        this.axios(konfigurasi)
            .then(respons => {
              const {blog} = respons.data
              this.kiriman = blog

              // console.log(blog.photo)
            })
            .catch(eror => console.log(eror))
      },
    },
    created() {
      this.lepasLandas()
    },
  }
</script>
