<template>
  <keep-alive>
    <v-dialog v-model="dialog" fullscreen hide-overlay persistent transition="dialog-bottom-transition">
      <component :is="currentComponent" @closed="setDialogStatus"></component>
    </v-dialog>
  </keep-alive>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'

  export default {
    components: {
      FormulirMasuk: () => import('./FormulirMasuk.vue')
    },
    computed: {
      ...mapGetters({
        dialogStatus: 'dialog/status',
        currentComponent: 'dialog/komponen',
      }),
      dialog: {
        get() {
          return this.dialogStatus
        },
        set(nilai) {
          this.setDialogStatus(nilai)
        },
      },
    },
    methods: {
      ...mapActions({
        setDialogStatus: 'dialog/setStatus',
      }),
    },
  }
</script>
