<template>
  <v-snackbar
    v-model="alert"
    :color="warna"
    timeout="6000"
    outlined
  >
    {{teks}}

    <template v-slot:action="{attrs}">
      <v-btn
        :color="warna"
        text
        v-bind="attrs"
        @click="tutup"
      >
        Tutup
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: 'BaseAlert',
    computed: {
      ...mapGetters({
        status: 'alert/status',
        warna: 'alert/warna',
        teks: 'alert/teks',
      }),
      alert: {
        get() {
          return this.status
        },
        set(nilai) {
          this.setAlert({
            status: nilai,
          })
        },
      },
    },
    methods: {
      ...mapActions({
        setAlert: 'alert/set'
      }),
      tutup() {
        this.setAlert({
          status: false,
        })
      },
    },
  }
</script>
