<template>
  <v-flex xs6>
    <v-card :to="'/kiriman/' + kiriman.id">
      <v-img
        :src="kiriman.photo ? urlDasar + kiriman.photo : 'https://picsum.photos/200/300'"
        class="white--text"
        height="200px"
        gradient="to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)"
      >
        <v-card-title class="fill-height align-end" v-text="kiriman.title"></v-card-title>
      </v-img>
      <v-card-actions>
        <v-progress-linear color="primer" height="6"></v-progress-linear>
      </v-card-actions>
      <v-card-actions>
        <span>{{kiriman.description.substring(0, 30)}} …</span>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    data: () => ({
      urlDasar: 'https://demo-api-vue.sanbercloud.com',
    }),
    props: ['kiriman'],
  }
</script>
