<template>
  <v-card>
    <v-toolbar color="primer">
      <v-btn icon @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Masuk</v-toolbar-title>
    </v-toolbar>

    <v-divider></v-divider>

    <v-container fluid>
      <v-form ref="form">
        <v-text-field
          v-model="surel"
          label="Surel"
          required
          append-icon="mdi-email"
        ></v-text-field>
        <v-text-field
          v-model="kataSandi"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Kata Sandi"
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <div class="text-xs-center">
          <v-btn
            color="primer lighten-1"
            @click="submit"
          >
            Masuk
            <v-icon right>mdi-login</v-icon>
          </v-btn>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    data() {
      return {
        surel: '',
        kataSandi: '',
        showPassword: false,
        urlDasar: 'https://demo-api-vue.sanbercloud.com',
      }
    },
    methods: {
      ...mapActions({
        setAlert: 'alert/set',
        setToken: 'auth/setToken'
      }),
      close() {
        this.$emit('closed', false)
      },
      submit() {
        // alert('Masuk metode submit')

        const konfigurasi = {
          method: 'post',
          url: this.urlDasar + '/api/v2/auth/login',
          data: {
            'email': this.surel,
            'password': this.kataSandi,
          },
        }

        this.axios(konfigurasi)
            .then(respons => {
              // console.log(respons.data)

              this.setToken(respons.data.access_token)

              this.setAlert({
                status: true,
                warna: 'primer',
                teks: 'Berhasil masuk',
              })

              this.close()
            })
            .catch(respons => {
              console.log(respons)

              this.setAlert({
                status: true,
                warna: 'error',
                teks: 'Gagal masuk',
              })
            })
      },
    },
  }
</script>
