<template>
  <!-- App.vue -->
  <v-app>
    <!-- <v-snackbar
      v-model="snackbar"
      color="primer"
      timeout="6000"
      outlined
    >
      {{teksSnackbar}}

      <template v-slot:action="{attrs}">
        <v-btn
          color="primer"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Tutup
        </v-btn>
      </template>
    </v-snackbar> -->

    <base-alert></base-alert>
    <base-dialog></base-dialog>

    <v-navigation-drawer app v-model="laci">
      <v-list>
        <v-list-item v-if="!tamu">
          <v-list-item-avatar>
            <!-- <v-img src="https://pbs.twimg.com/profile_images/1507775814544199682/WFTcvDRL_400x400.jpg"></v-img> -->
            <v-img :src="user.photo_profile ? urlDasar + user.photo_profile : 'https://placehold.jp/200/808080/ffffff/300x300.jpg?text=%3F'"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              <!-- Watson Amelia -->
              {{user.name}}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="px-2" v-if="tamu">
          <v-btn block color="primer" class="mb-2" @click="masuk">
            <v-icon left>mdi-login</v-icon>
            Masuk
          </v-btn>
          <v-btn block color="grey lighten-4 sekunder--text text--lighten-2">
            <v-icon left>mdi-account-plus</v-icon>
            Mendaftar
          </v-btn>
        </div>
      </v-list>

      <v-divider></v-divider>

      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="butirTerpilih"
          color="primer"
        >
          <v-list-item
            v-for="(butir, i) in butirButir"
            :key="`butir-${i}`"
            :to="butir.rute"
          >
            <v-list-item-icon>
              <v-icon v-text="butir.ikon"></v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="butir.teks"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <template v-slot:append v-if="!tamu">
        <v-divider></v-divider>

        <v-list>
          <div class="px-2">
            <v-btn block color="grey lighten-4 sekunder--text text--lighten-2" @click="keluar">
              <v-icon left>mdi-logout</v-icon>
              Keluar
            </v-btn>
          </div>
        </v-list>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="primer white--text">
    <!-- <v-app-bar app color="primer white--text" :elevation="0"> -->
      <v-app-bar-nav-icon @click.stop="laci = !laci" color="white"></v-app-bar-nav-icon>
      <v-toolbar-title>Aplikasi Vue</v-toolbar-title>
      <!-- Pemisah konten -->
      <!-- <v-spacer></v-spacer> -->
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer app>
      <span>© 2022 ZZZ 😴😴😴</span>
    </v-footer>
  </v-app>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  // import Alert from './components/Alert.vue'

  export default {
    name: 'App',
    components: {
      // Alert,
      BaseAlert: () => import('./components/BaseAlert.vue'),
      BaseDialog: () => import('./components/BaseDialog.vue'),
    },
    data: () => ({
      laci: true,
      butirTerpilih: 0,
      butirButir: [
        {teks: 'Beranda', ikon: 'mdi-home', rute: '/'},
        {teks: 'Kiriman-Kiriman', ikon: 'mdi-post', rute: '/kiriman-kiriman'},
      ],
      // tamu: true,
      snackbar: false,
      teksSnackbar: 'Anda hebat!',
      urlDasar: 'https://demo-api-vue.sanbercloud.com',
    }),
    computed: {
      ...mapGetters({
        tamu: 'auth/tamu',
        user: 'auth/user',
        token: 'auth/token',
      }),
    },
    methods: {
      masuk() {
        // this.tamu = false

        // this.setAlert({
        //   status: true,
        //   warna: 'primer',
        //   teks: '🙂🙂🙂',
        // })

        this.setDialogComponent({'komponen': 'formulir-masuk'})
      },
      keluar() {
        const konfigurasi = {
          method: 'post',
          url: this.urlDasar + '/api/v2/auth/logout',
          headers: {
            'Authorization': 'Bearer ' + this.token,
          },
        }

        this.axios(konfigurasi)
            .then(() => {
              this.setToken('')
              this.setUser({})

              this.setAlert({
                status: true,
                warna: 'primer',
                teks: '🙃🙃🙃',
              })
            })
            .catch(respons => {
              this.setAlert({
                status: true,
                warna: 'error',
                teks: respons.data.error + '🥴🥴🥴',
              })
            })

        // this.tamu = true

        // this.setAlert({
        //   status: true,
        //   warna: 'primer',
        //   teks: '🙃🙃🙃',
        // })
      },
      ...mapActions({
        setAlert: 'alert/set',
        setDialogComponent: 'dialog/setKomponen',
        setToken: 'auth/setToken',
        setUser: 'auth/setUser',
        checkToken: 'auth/checkToken',
      }),
    },
    mounted() {
      // this.snackbar = true

      if (this.token) {
        this.checkToken(this.token)
      }
    },
  }
</script>
